@font-face{
	font-family:"OpenSans-Semibold";
    src:url("Fonts/OpenSans-Semibold.ttf") format("truetype");
}
@font-face{
	font-family:"OpenSans-Bold";
    src:url("Fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face{
	font-family:"OpenSans-Light";
    src:url("Fonts/OpenSans-Light.ttf") format("truetype");
}




